<div class="list-container">
  <div
    class="top-left-container"
    *ngIf="!addParticipants && !newGroup && !newContact && !deleteMultiple"
  >
    <div class="profile">
      <img
        src="../../assets/myProfile.jpg"
        alt=""
        height="30px"
        width="30px"
        class="profile-image"
      />
    </div>
    <img
      (click)="menuOpen = !menuOpen"
      class="icon"
      src="../../assets/options.png"
      alt=""
    />
    <div *ngIf="menuOpen" class="menu-container">
      <div class="menu-option">
        <a (click)="menuOpen = false; newContact = true; newGroup = false"
          >Add contact</a
        >
      </div>
      <div class="menu-option">
        <a (click)="createGroup()">Create group</a>
      </div>
      <div class="menu-option">
        <a (click)="menuOpen = false; deleteMultiple = true">Delete multiple</a>
      </div>
    </div>
  </div>
  <div class="top-left-container" *ngIf="addParticipants || deleteMultiple">
    <div class="profile">
      <img
        src="../../assets/leftArrow.png"
        alt=""
        height="20px"
        width="25px"
        class="left-arrow"
        (click)="
          addParticipants ? clearSelected() : (deleteMultiple = false);
          clearSelected()
        "
      />
      Add participants
    </div>
  </div>
  <div class="top-left-container" *ngIf="newGroup">
    <div class="profile">
      <img
        src="../../assets/leftArrow.png"
        alt=""
        height="20px"
        width="25px"
        class="left-arrow"
        (click)="newGroup = false; addParticipants = true"
      />
      New group
    </div>
  </div>
  <div class="top-left-container" *ngIf="newContact">
    <div class="profile">
      <img
        src="../../assets/leftArrow.png"
        alt=""
        height="20px"
        width="25px"
        class="left-arrow"
        (click)="newContact = false"
      />
      Add Contact
    </div>
  </div>
  <div
    class="selected-contacts-container"
    *ngIf="addParticipants && model.members.length !== 0"
  >
    <div
      *ngFor="let selectedContact of model.members"
      class="selected-contacts"
    >
      <img
        [src]="selectedContact.image ? selectedContact.image : imageUrl"
        alt=""
        height="20px"
        width="20px"
        class="selected-profile"
        style="border-radius: 50%; margin-right: 5px"
      />
      <div>{{ selectedContact.name }}</div>
      <img
        src="../../assets/delete.png"
        class="delete-icon"
        (click)="selectContact(selectedContact)"
      />
    </div>
  </div>
  <div
    class="search-container"
    *ngIf="!newGroup && !newContact! && !deleteMultiple"
  >
    <app-contact-search
      (event)="getContactsBySearch($event)"
    ></app-contact-search>
  </div>
  <ul *ngIf="!newGroup && !newContact">
    <li
      *ngFor="let contact of contacts"
      [ngClass]="contact.isChecked ? 'selected' : ''"
    >
      <div class="list-item">
        <img
          [src]="contact.image ? contact.image : imageUrl"
          alt=""
          height="40px"
          width="40px"
          class="profile-image"
        />
        <input
          class="checkbox"
          type="checkbox"
          name="contact"
          value="{{ contact.id }}"
          #contact="ngModel"
          [(ngModel)]="contact.isChecked"
        />
        <div
          class="contact-name"
          (click)="
            addParticipants || deleteMultiple
              ? selectContact(contact)
              : navigate(contact.id)
          "
        >
          <span>{{ contact.name }}</span>
        </div>
        <img
          *ngIf="!addParticipants && !deleteMultiple"
          (click)="delete(contact.id)"
          class="hide"
          src="../../assets/delete.png"
          alt=""
          width="25px"
          height="25px"
        />
      </div>
    </li>
  </ul>
  <div
    *ngIf="(addParticipants && model.members.length !== 0) || deleteMultiple"
    class="next-arrow-container"
  >
    <img
      *ngIf="addParticipants"
      height="40px"
      width="40px"
      src="../../assets/save.png"
      alt=""
      (click)="newGroup = true; addParticipants = false"
    />
    <img
      *ngIf="enableDelete"
      height="40px"
      width="40px"
      src="../../assets/delete.png"
      alt=""
      (click)="deleteMultiple = false; multipleDelete()"
    />
  </div>
  <app-create-group
    *ngIf="newGroup"
    [model]="model"
    (event)="getContacts(); newGroup = false; clearSelected(); model.name = ''"
  ></app-create-group>
  <app-add-contact
    *ngIf="newContact"
    (event)="getContacts(); newContact = false; clearSelected()"
  ></app-add-contact>
  <div *ngIf="contacts.length === 0 && !newContact" class="no-content">
    <div>
      <img src="../../assets/notFound.png" alt="" />
    </div>
  </div>
</div>
