<div class="list-container">
  <div
    class="top-left-container"
    *ngIf="!addParticipants && !newGroup && !newContact"
  >
    <div class="profile">
      <img src="../../assets/profile.png" alt="" height="30px" width="30px" />
    </div>
    <img
      (click)="menuOpen = !menuOpen"
      class="icon"
      src="../../assets/options.png"
      alt=""
    />
  </div>
  <div class="top-left-container" *ngIf="addParticipants">
    <div class="profile">
      <img
        src="../../assets/leftArrow.png"
        alt=""
        height="30px"
        width="30px"
        class="left-arrow"
        (click)="clearSelected()"
      />
      Add participants
    </div>
  </div>
  <div class="top-left-container" *ngIf="newGroup">
    <div class="profile">
      <img
        src="../../assets/leftArrow.png"
        alt=""
        height="30px"
        width="30px"
        class="left-arrow"
        (click)="newGroup = false; addParticipants = true"
      />
      New group
    </div>
  </div>
  <div class="top-left-container" *ngIf="newContact">
    <div class="profile">
      <img
        src="../../assets/leftArrow.png"
        alt=""
        height="30px"
        width="30px"
        class="left-arrow"
        (click)="newContact = false"
      />
      Add Contact
    </div>
  </div>
  <div *ngIf="menuOpen" class="menu-container">
    <div class="menu-option">
      <a (click)="menuOpen = false; newContact = true; newGroup = false"
        >Add contact</a
      >
    </div>
    <div class="menu-option">
      <a (click)="menuOpen = false; addParticipants = true; newContact = false"
        >Create group</a
      >
    </div>
    <div class="menu-option">
      <a (click)="menuOpen = false; deleteMultiple = true">Delete multiple</a>
    </div>
  </div>
  <div
    class="selected-contacts-container"
    *ngIf="addParticipants && model.members.length !== 0"
  >
    <div
      *ngFor="let selectedContact of model.members"
      class="selected-contacts"
    >
      {{ selectedContact.name }}
      <img
        src="../../assets/delete.png"
        class="delete-icon"
        alt=""
        (click)="selectContact(selectedContact)"
      />
    </div>
  </div>
  <div class="search-container" *ngIf="!newGroup && !newContact">
    <app-contact-search
      (event)="getContactsBySearch($event)"
    ></app-contact-search>
  </div>
  <ul *ngIf="!newGroup && !newContact">
    <li
      *ngFor="let contact of contacts"
      [ngClass]="contact.isChecked ? 'selected' : ''"
    >
      <div class="list-item">
        <img
          [src]="contact.image ? contact.image : imageUrl"
          alt=""
          height="40px"
          width="40px"
        />
        <input
          class="checkbox"
          type="checkbox"
          name="contact"
          value="{{ contact.id }}"
          #contact="ngModel"
          [(ngModel)]="contact.isChecked"
        />
        <div
          class="contact-name"
          (click)="
            addParticipants || deleteMultiple
              ? selectContact(contact)
              : navigate(contact.id)
          "
        >
          <span>{{ contact.name }}</span>
        </div>
        <img
          (click)="delete(contact.id)"
          class="hide"
          src="../../assets/delete2.png"
          alt=""
          width="22px"
          height="22px"
        />
      </div>
    </li>
  </ul>
  <div
    *ngIf="(addParticipants && model.members.length !== 0) || deleteMultiple"
    class="next-arrow-container"
  >
    <img
      *ngIf="addParticipants"
      class="icon"
      src="../../assets/nextArrow.png"
      alt=""
      (click)="newGroup = true; addParticipants = false"
    />
    <img
      class="icon"
      src="../../assets/delete.png"
      alt=""
      (click)="deleteMultiple = false; multipleDelete()"
    />
  </div>
  <app-create-group
    *ngIf="newGroup"
    [model]="model"
    (event)="getContacts(); newGroup = false; clearSelected()"
  ></app-create-group>
  <app-add-contact
    *ngIf="newContact"
    (event)="getContacts(); newContact = false; clearSelected()"
  ></app-add-contact>
  <div class="no-content" *ngIf="contacts.length === 0">
    No contacts available
  </div>
</div>
