@import "../../variables";

:host {
  width: 100%;
}

div {
  position: relative;
  text-align: center;
  background-color: $top-container-color;
  height: 3.5rem;
  border-radius: 0.8rem;
}

input {
  height: 3.5rem;
  width: 100%;
  box-sizing: border-box;
  background: url("../../assets/search.png") top left no-repeat;
  background-size: 2rem;
  background-position: 0.5rem;
  padding-left: 4rem;
  outline: none;
  border: none;
  color: white;
}
