.contact-details {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 30px auto;
  padding: 0;
  background-color: #ebecf0;
  padding: 15px;
  border-radius: 10px;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.contact-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icons {
  height: 22px;
  width: 22px;
}

span {
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}

.name {
  font-size: 30px;
  font-weight: 800;
}

.detail {
  font-size: 18px;
}
