<div class="contact-details" *ngIf="!contact"></div>
<div *ngIf="contact" class="contact-details">
  <div class="details-container">
    <div class="top-left-container">
      <div class="profile">
        <img
          class="icon profile-image"
          [src]="contact.image ? contact.image : imageUrl"
          alt=""
        />
      </div>
      <div class="contact-detail">
        <div class="name-date-container">
          <span class="name">{{ contact.name }}</span>
        </div>
        <div *ngIf="contact.members">
          <span class="members-name">{{ members }}</span>
        </div>
      </div>
    </div>
    <span class="date">{{ contact.id | date: "medium" }}</span>
    <img
      [src]="contact.image ? contact.image : imageUrl"
      class="profile-image"
      width="180px"
      height="180px"
      alt=""
    />
    <div class="name">
      {{ contact.name }}
    </div>
    <div class="num-email" *ngIf="!contact.members">
      <div>
        {{ contact.num }}
      </div>
      <div *ngIf="contact.email">
        {{ contact.email }}
      </div>
    </div>
    <div *ngIf="contact.members">
      <div class="members-name">{{ contact.members.length }} participants</div>
      <ul>
        <li *ngFor="let member of contact.members" class="group-members-list">
          <img
            [src]="member.image ? member.image : imageUrl"
            alt=""
            height="40px"
            width="40px"
            class="profile-image"
          />
          <a routerLink="/detail/{{ member.id }}">{{ member.name }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
