@import "../../variables";

.contact-details {
  @include contact-container;
}

.contact-detail {
  @include flex-display(row, center);
}

.icons {
  @include icon;
}

span {
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}

.name {
  font-size: 30px;
  font-weight: 800;
}

.detail {
  font-size: 18px;
}
