@import "../../variables";

.contact-details {
  @include flex-display(row, left);
  padding: 0;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(17, 27, 33);
  box-shadow: $content-box-shadow;
}

.contact-detail {
  @include flex-display(column, left);
}

.icons {
  width: 22px;
  height: 22px;
}

span {
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}

.name {
  font-size: 16px;
  font-weight: 400;
  margin: 0 10px;
  color: rgb(233, 237, 239);
}

.detail {
  font-size: 18px;
}

.top-left-container {
  width: 100%;
  @include flex-display(row, center);
  height: 60px;
  color: rgb(233, 237, 239);
  background-color: rgb(32, 44, 51);
}

.icon {
  height: 30px;
  width: 30px;
  padding: 10px;
}

.profile-image {
  border-radius: 50%;
}

.details-container {
  @include flex-display(column, center);
  justify-content: space-between;
  width: 100%;
  height: 100%;
  color: rgb(233, 237, 239);
}

.chat-container {
  width: 100%;
  height: 100vh;
  background-color: rgb(230, 223, 215);
  position: relative;
}

.name-date-container {
  justify-content: space-between;
}

.date {
  position: absolute;
  right: 0;
  top: 70px;
  margin: 0;
  color: rgb(134, 150, 160);
  font-size: 13px;
}

.members-name {
  color: rgb(134, 150, 160);
  font-size: 13px;
}

ul {
  list-style: none;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 0 20px;
  width: 250px;
  height: auto;
  max-height: 170px;
  overflow-y: auto;
  border-radius: 8px;
  border: 1px solid rgba(134, 150, 160, 0.15);
  li {
    @include flex-display(row, center);
    padding: 10px 0;
    gap: 20px;
    &:hover {
      background-color: rgb(32, 44, 51);
    }
  }
  a {
    text-decoration: none;
    color: rgb(233, 237, 239);
    width: 70%;
  }
}

.num-email {
  height: 170px;
  @include flex-display(column, center);
  gap: 20px;
}
