@import "../../variables";

.group-details {
  @include contact-container;
}

.group-detail {
  @include flex-display(column, center);
}

span {
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}

.name {
  font-size: 30px;
  font-weight: 800;
}

.detail {
  font-size: 18px;
  margin: 0px;
}
