<form #groupForm="ngForm" (ngSubmit)="onSubmit(); groupForm.reset()">
  <div class="form-field">
    <label for="name">Name: </label>
    <input
      id="name"
      name="name"
      [(ngModel)]="groupName"
      #name="ngModel"
      required
    />
    <small [hidden]="name.valid || name.untouched">Name is required</small>
  </div>
  <div class="form-field">
    <div for="members">Add participants:</div>
    <div class="selectBox">
      <div *ngFor="let contact of contacts" class="member-list">
        <input
          type="checkbox"
          name="contact"
          #contact="ngModel"
          value="{{ contact.id }}"
          [(ngModel)]="contact.isChecked"
        />
        <span>
          {{ contact.name }}
        </span>
      </div>
    </div>
  </div>
  <button type="submit" [disabled]="!groupForm.form.valid || !enableDelete">
    Add
  </button>
</form>
