@import "../../variables";

form {
  @include form-container;
}

.form-field {
  @include form-field;
}

input {
  @include form-input;
}

button {
  @include button;
}

small {
  color: red;
}

.selectBox {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

.member-list {
  display: flex;
  align-items: center;
  gap: 10px;
}
