<form
  class="new-group-container"
  (ngSubmit)="onSubmit(); groupForm.reset()"
  #groupForm="ngForm"
>
  <input
    type="file"
    name="groupIcon"
    id="groupIcon"
    (change)="previewImage($event)"
  />
  <img
    src="../../assets/profile.png"
    id="previewIcon"
    alt=""
    height="150px"
    width="150px"
  />
  <div>
    <label for="groupName">Group Name</label>
    <input
      id="name"
      name="name"
      [(ngModel)]="model.name"
      #name="ngModel"
      required
    />
    <small [hidden]="name.valid || name.untouched">Name is required</small>
  </div>
  <img
    src="../../assets/save.jpg"
    height="50px"
    width="50px"
    alt=""
    *ngIf="groupForm.form.valid"
    (click)="onSubmit()"
  />
</form>
