$main-background-color: rgb(17, 27, 33);
$top-container-color: rgb(32, 44, 51);
$disabled-color: grey;
$main-text-color: rgb(233, 237, 239);
$disabled-opacity: 0.3;

@mixin flex-display($direction, $align) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
}
